<a href="https://colab.research.google.com/github/SanikaSajwani/GIAIC-Quarter-Three/blob/main/Class_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

**Printing Hello World**

In [ ]:
print("Hello World!")
# Commenting for future reference

Hello World!

**Variable in Different Cells**

Line-by-Line Execution

In [ ]:
name = "Sanika";

In [ ]:
print(name);

Sanika

# Data Types

**Numeric Data Types**

In [ ]:
var1: int = 12
var2: float = 12.0
var3: complex = 5j

print(var1,  var2,  var3);

12 12.0 5j

In [ ]:
var4 = 12
var5 = 12.0
var6 = 5j

print(type(var4), type(var5), type(var6))

<class 'int'> <class 'float'> <class 'complex'>

In [ ]:
# Same ID in int type
Age = 25
age = 25
print(id(age))
print(id(Age))

10751624
10751624

**Boolean Data Type**

In [ ]:
var7 = True
print(type(var7))

<class 'bool'>

**String Data Type**

In [ ]:
Name = "Sanika"
print(type(Name))

<class 'str'>

In [ ]:
print(id(Name));

137136822366704

In [ ]:
greeting: str = "Welcome " + Name + "!" # concatenation
print(greeting)

Welcome Sanika!

In [ ]:
# doc string """ """ leave spaces and new lines in it only without \t and \n
multi_line = """"Hi!
I am Sanika.
Welcome to my journey!"""
print(multi_line)

"Hi!
I am Sanika.
Welcome to my journey!

In [ ]:
# tempelate literals
print(f"Hi, my name is {Name}.") #f-string

print("Hi, my name is {}".format(Name)) #dot string

Hi, my name is Sanika.
Hi, my name is Sanika

**List Data Type**

An ordered, mutable collection.

In [ ]:
Hobbies = ["Coding", "Crocheting", "Singing"]
print(type(Hobbies))

<class 'list'>

In [ ]:
print(Hobbies[0]);

Coding

In [ ]:
print(Name, Hobbies)

Sanika ['Coding', 'Crocheting', 'Singing']

**Tuple Data Type**

An ordered, immutable collection.

In [ ]:
Fav_colors = ("Ruby Red", "Jet Black", "Navy Blue")
print(type(Fav_colors))

<class 'tuple'>

**Range Data Type**

In [ ]:
# range(start, stop, step)
var8 = range(1, 16, 7)
print(type(var8))
print(var8.step)

<class 'range'>
7

In [ ]:
for i in var8:
  print(i)

1
8
15

**Dictionary Data Type**

In [ ]:
var9 = {"Name": "Sanika", "age": 25, "Hobby": "Coding"}
print(type(var9))
print(var9)

<class 'dict'>
{'Name': 'Sanika', 'age': 25, 'Hobby': 'Coding'}

In [ ]:
print(var9.get("Name", "Unknown"))
print(var9.get("age", "Under 18"))

Sanika
25