<a href="https://colab.research.google.com/github/SanikaSajwani/GIAIC-Quarter-Three/blob/main/Class_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Quarter 3 - Class 2: Python Fundamentals

In [ ]:
# 1. Assignment Operators
x = 10
x += 5  # Equivalent to x = x + 5
print("Assignment Operator:", x)  # Output: 15

Assignment Operator: 15

In [ ]:
# 2. Comparison Operators
age = 20
print("Comparison Operator:", age >= 18)  # Output: True (Eligible to vote)

Comparison Operator: True

In [ ]:
# 3. Logical Operators
has_card = True
knows_pin = False
print("Logical AND Operator:", has_card and knows_pin)  # Output: False

Logical AND Operator: False

In [ ]:
# 4. Bitwise Operators
a = 5  # 101 in binary
b = 3  # 011 in binary
print("Bitwise AND Operator:", a & b)  # Output: 1 (001 in binary)

Bitwise AND Operator: 1

In [ ]:
# 5. Identity Operators
a = [1, 2, 3]
b = a
c = [1, 2, 3]
print("Identity Operator (is):", a is b)  # Output: True
print("Identity Operator (is not):", a is not c)  # Output: True

Identity Operator (is): True
Identity Operator (is not): True

In [ ]:
# 6. Membership Operators
fruits = ["apple", "banana", "cherry"]
print("Membership Operator:", "apple" in fruits)  # Output: True

Membership Operator: True

In [ ]:
# 7. Enumerate Function
colors = ['red', 'green', 'blue']
for index, color in enumerate(colors):
    print(f"Enumerate Example: {index}: {color}")

Enumerate Example: 0: red
Enumerate Example: 1: green
Enumerate Example: 2: blue

In [ ]:
# 8. If-Else Statements
temperature = 30
if temperature > 25:
    print("It's a hot day!")
else:
    print("It's cool outside.")

It's a hot day!

In [ ]:
# 9. Nested If-Else
score = 85
if score >= 90:
    print("Grade: A")
elif score >= 80:
    print("Grade: B")
else:
    print("Grade: C")

Grade: B

In [ ]:
# 10. For Loop
for i in range(1, 6):
    print("For Loop Example: Attempt", i)

For Loop Example: Attempt 1
For Loop Example: Attempt 2
For Loop Example: Attempt 3
For Loop Example: Attempt 4
For Loop Example: Attempt 5

In [ ]:
# 11. While Loop
battery = 100
while battery > 0:
    print("Battery at:", battery, "%")
    battery -= 20

Battery at: 100 %
Battery at: 80 %
Battery at: 60 %
Battery at: 40 %
Battery at: 20 %

In [ ]:
# 12. Tuples - Immutable Data Structure
person = ("Alice", 25, "Engineer")
print("Tuple Example:", person[0])  # Output: Alice

Tuple Example: Alice